/*@reference "../index.css";*/

@property --header-menu-project-title {
  syntax: "<length> | <percentage>";
  inherits: false;
  initial-value: 0;
}

@property --header-menu-project-title-height {
  syntax: "<length> | <number> | <percentage>";
  inherits: true;
  initial-value: 0px;
}

c-header {
  header {
    /* Critical css in index.css */

    html.-string & {
      transition: opacity 0.5s ease-out !important;
      transform: translate3d(0, calc(-100% * var(--progress)), 0);
      /* the progress css var is set by the footer by using the `string-copy-from` attribute*/

      &.hide {
        opacity: 0;
      }

      &.collapsed {
        transform: translate3d(0, -100%, 0);
      }
    }

    .c-animated-grid {
      transition:
        grid-template-rows 750ms,
        grid-template-columns 750ms;
      display: grid;

      --header-menu-project-title-height: 0px;

      grid-template-rows: 0 min-content;

      &.project-title {
        --header-menu-project-title-height: calc(var(--text-md) * 1.2);
        grid-template-rows:
          var(--header-menu-project-title-height, 0px)
          min-content;
        /*--header-menu-project-title: 60%;*/
      }
    }

    @variant md {
      .c-animated-grid {
        grid-template-rows: unset;
        grid-template-columns:
          0
          minmax(var(--spacing-grid-padding), auto)
          min-content
          minmax(var(--spacing-grid-padding), auto);

        &.project-title {
          /*--header-menu-project-title: 60%;*/
          grid-template-rows: unset;
          grid-template-columns:
            var(--header-menu-project-title-width, 0%)
            minmax(var(--spacing-grid-padding), auto)
            min-content
            minmax(var(--spacing-grid-padding), auto);
        }
      }
    }
  }
}



@property --home-intro-progress {
  syntax: "<number>";
  inherits: true;
  initial-value: 0;
}
@property --progress-slice {
  syntax: "<number>";
  inherits: true;
  initial-value: 0;
}
@property --animation-index {
  syntax: "<number>";
  inherits: true;
  initial-value: 0;
}
@property --animation-count {
  syntax: "<number>";
  inherits: true;
  initial-value: 1;
}

c-home-intro {
  /* Critical css in index.css */
  clip-path: inset(0);

  .scene {
    contain: paint;

    .from-top {
      transition: transform 0.35s ease-out;
      transform: translate3d(0, -100%, 0);
    }
    .from-bottom {
      transition: transform 0.35s ease-out;
      transform: translate3d(0, 100%, 0);
    }
    .from-fade {
      transition: opacity 0.35s ease-out;
      opacity: 0;
    }

    html.-string & {
      &.animation-mode-random,
      &.animation-mode-none,
      &.animation-mode-stagger,
      &.animation-mode-simultaneous {
        overflow: hidden;
      }

      &.animation-mode-none {
        transform: unset;
      }

      &.animation-mode-random,
      &.animation-mode-stagger {
        /* variation between stagger and random handled in snippet `snippets/home-intro` */

        .from-top {
          /*will-change: transform;*/
          --speed: calc(1 + (var(--animation-index) / var(--animation-count)));
          /* Varying start position based on index (e.g., between -100% and -250%) */
          --start-y: calc(-100% - (var(--animation-index) * 10%));
          /* Linear progress that hits 1.0 before the global scene ends */
          --t: clamp(0, var(--progress-slice) * var(--speed), 1);
          /* Sine Out ease: https://easings.net/#easeOutSine */
          --local-progress: calc(sin(var(--t) * 90deg));
          --local-progress: calc(sin((var(--t) * pi) / 2));

          /* Translate from variable start-y to 0 based on the accelerated and eased local progress */
          transform: translate3d(
            0,
            calc((1 - var(--local-progress)) * var(--start-y)),
            0
          );
        }

        .from-bottom {
          /*will-change: transform;*/
          --speed: calc(1 + (var(--animation-index) / var(--animation-count)));
          /* Varying start position based on index (e.g., between -100% and -250%) */
          --start-y: calc(100% + (var(--animation-index) * 10%));
          /* Linear progress that hits 1.0 before the global scene ends */
          --t: clamp(0, var(--progress-slice) * var(--speed), 1);
          /* Sine Out ease: https://easings.net/#easeOutSine */
          --local-progress: calc(sin(var(--t) * 90deg));
          --local-progress: calc(sin((var(--t) * pi) / 2));

          /* Translate from variable start-y to 0 based on the accelerated and eased local progress */
          transform: translate3d(
            0,
            calc((1 - var(--local-progress)) * var(--start-y)),
            0
          );
        }

        .from-fade {
          /*will-change: opacity;*/
          --speed: calc(1 + var(--animation-index) / var(--animation-count));
          --local-progress: calc(var(--progress-slice) * var(--speed));
          opacity: clamp(0, var(--local-progress), 1);
        }
      }

      &.animation-mode-simultaneous {
        --speed: 1.25;
        --animation-offset: 10%;
        .from-top {
          /*will-change: transform;*/
          /* Varying start position based on index (e.g., between -100% and -250%) */
          --start-y: calc(-100% - var(--animation-offset));
          /* Linear progress that hits 1.0 before the global scene ends */
          --t: clamp(0, var(--progress-slice) * var(--speed), 1);
          /* Sine Out ease: https://easings.net/#easeOutSine */
          --local-progress: calc(sin(var(--t) * 90deg));
          --local-progress: calc(sin((var(--t) * pi) / 2));
          /* Translate from variable start-y to 0 based on the accelerated and eased local progress */
          transform: translate3d(
            0,
            calc((1 - var(--local-progress)) * var(--start-y)),
            0
          );
        }
        .from-bottom {
          /*will-change: transform;*/
          /* Varying start position based on index (e.g., between -100% and -250%) */
          --start-y: calc(100% + var(--animation-offset));
          /* Linear progress that hits 1.0 before the global scene ends */
          --t: clamp(0, var(--progress-slice) * var(--speed), 1);
          /* Sine Out ease: https://easings.net/#easeOutSine */
          --local-progress: calc(sin(var(--t) * 90deg));
          --local-progress: calc(sin((var(--t) * pi) / 2));
          /* Translate from variable start-y to 0 based on the accelerated and eased local progress */
          transform: translate3d(
            0,
            calc((1 - var(--local-progress)) * var(--start-y)),
            0
          );
        }
        .from-fade {
          /*will-change: opacity;*/
          opacity: var(--progress-slice);
          top: 0;
          position: fixed !important;
        }
      }
    }
  }
}


@property --word-global-total {
  syntax: "<number>";
  inherits: true;
  initial-value: 0;
}
@property --text-reveal-progress {
  syntax: "<number>";
  inherits: true;
  initial-value: 0;
}
@property --progress-unit {
  syntax: "<number>";
  inherits: false;
  initial-value: 0;
}
@property --min-progress {
  syntax: "<number>";
  inherits: false;
  initial-value: 0;
}
@property --max-progress {
  syntax: "<number>";
  inherits: false;
  initial-value: 1;
}
@property --word-progress {
  syntax: "<number>";
  inherits: false;
  initial-value: 0;
}
@property --word-opacity {
  syntax: "<number>";
  inherits: false;
  initial-value: 0;
}

c-text-reveal {
  .-s-word {
    display: inline-block;

    --progress-unit: calc(1 / var(--word-global-total));
    --min-progress: clamp(
      0,
      calc((var(--word-index) - 2) * var(--progress-unit)),
      1
    );
    --max-progress: clamp(
      0,
      calc((var(--word-index) + 2) * var(--progress-unit)),
      1
    );
    --word-progress: clamp(
      var(--min-progress),
      var(--text-reveal-progress),
      var(--max-progress)
    );

    --word-opacity: calc(
      (var(--word-progress) - var(--min-progress)) /
        (var(--max-progress) - var(--min-progress))
    );

    will-change: opacity;
    opacity: var(--word-opacity);
  }

  .-s-char {
    display: inline-block;
  }
}
