@property --header-menu-project-title {
  syntax: "<length> | <percentage>";
  inherits: false;
  initial-value: 0;
}

c-header {
  header {
    /* Critical css in index.css */

    html.-string & {
      transition: opacity 0.5s ease-out !important;
      transform: translate3d(0, calc(-100% * var(--progress)), 0);
      /* the progress css var is set by the footer by using the `string-copy-from` attribute*/

      &.hide {
        opacity: 0;
      }

      &.collapsed {
        transform: translate3d(0, -100%, 0);
      }
    }

    .c-animated-grid {
      transition: 750ms;
      display: grid;
      /*grid-template-columns: 20px auto;*/
      /*grid-template-columns:
        var(--header-menu-project-title, 0%)
        auto min-content auto;
        */
      grid-template-columns:
        0
        minmax(var(--spacing-grid-padding), auto)
        min-content
        minmax(var(--spacing-grid-padding), auto);

      &.project-title {
        /*--header-menu-project-title: 60%;*/
        grid-template-columns:
          var(--header-menu-project-title, 0%)
          minmax(var(--spacing-grid-padding), auto)
          min-content
          minmax(var(--spacing-grid-padding), auto);
      }
    }
  }
}
