@property --home-intro-progress {
  syntax: "<number>";
  inherits: true;
  initial-value: 0;
}
@property --progress-slice {
  syntax: "<number>";
  inherits: true;
  initial-value: 0;
}
/*@property --animation-index {
  syntax: "<number>";
  inherits: true;
  initial-value: 0;
}*/
/*@property --animation-count {
  syntax: "<number>";
  inherits: true;
  initial-value: 1;
}*/

@property --speed {
  syntax: "<number>";
  inherits: true;
  initial-value: 1;
}

@property --start-y {
  syntax: "<percentage>";
  inherits: true;
  initial-value: 0;
}

@scope (div.c-home-intro) {
  :scope {
    /*contain: layout paint;*/
    content-visibility: auto;
    contain-intrinsic-size: auto var(--scenes-height);

    /* Critical css in index.css */
    /*clip-path: inset(0);*/
    overflow: clip;
  }

  .scene {
    contain: layout paint;

    content-visibility: auto;
    contain-intrinsic-size: auto 100vh;

    .from-top {
      transition: transform 0.35s ease-out;
      transform: translateY(-100%);
      @media (min-width: 768) {
      }
    }
    .from-bottom {
      transition: transform 0.35s ease-out;
      transform: translateY(100%);
      @media (min-width: 768) {
      }
    }
    .from-fade {
      transition: opacity 0.35s ease-out;
      opacity: 0;
    }

    html.-string & {
      &.animation-mode-random,
      &.animation-mode-stagger,
      &.animation-mode-simultaneous {
        overflow: hidden;

        .from-top {
          @media (min-width: 768px) {
            will-change: transform;
            backface-visibility: hidden;
            transform: translate3d(
              0,
              calc(
                (1 - clamp(0, var(--progress-slice) * var(--speed), 1)) *
                  var(--start-y)
              ),
              0
            ) !important;
          }
        }

        .from-bottom {
          @media (min-width: 768px) {
            will-change: transform;
            backface-visibility: hidden;
            transform: translate3d(
              0,
              calc(
                (1 - clamp(0, var(--progress-slice) * var(--speed), 1)) *
                  var(--start-y)
              ),
              0
            ) !important;
          }
        }

        .from-fade {
          @media (min-width: 768px) {
            will-change: transform;
            backface-visibility: hidden;
          }
          opacity: clamp(0, calc(var(--progress-slice) * var(--speed)), 1);
        }
      }

      &.animation-mode-none {
        transform: unset;
      }
    }
  }
}
