[*]
charset = utf-8
indent_style = space
end_of_line = lf
trim_trailing_whitespace = true
insert_final_newline = true

[*.{css,scss,less,js,json,ts,sass,yml}]
indent_size = 2

[*.{html,hbs,mustache,phtml,html.twig,md}]
indent_size = 4
trim_trailing_whitespace = false

[site/{templates,snippets}/**.php]
indent_size = 4
max_line_length = 160

[package.json,.{babelrc,editorconfig,eslintrc,lintstagedrc,stylelintrc}]
indent_style = space
indent_size = 2
