{
  "singleAttributePerLine": true,
  "plugins": ["@prettier/plugin-php", "prettier-plugin-tailwindcss"],
  "tailwindStylesheet": "./src/styles/index.css",
  "tailwindAttributes": ["class"],
  "tailwindPreserveWhitespace": true,
  "overrides": [
    {
      "files": "*.php",
      "options": {
        "tabWidth": 4,
        "phpVersion": "8.3",
        "trailingCommaPHP": true,
        "braceStyle": "per-cs"
      }
    }
  ]
}
