@property --grid-padding {
  syntax: "<length>";
  inherits: true;
  initial-value: 10px;
}
@property --grid-width {
  syntax: "<length>";
  inherits: true;
  initial-value: 100vw;
}
@property --header-height {
  syntax: "<length>";
  inherits: true;
  initial-value: 78px;
}
@property --text-md {
  syntax: "<length>";
  inherits: true;
  initial-value: 40px;
}

/* To use whenever needing to size element by columns but without using grid columns*/
@property --col-width {
  syntax: "<length>";
  inherits: false;
  initial-value: 0px;
}

:root {
  /* @link https://utopia.fyi/type/calculator/?c=360,18,1.333,1240,22,1.414,5,2,&s=0.75,1.5|2|3|4|6,s-l&g=s,l,xl,12 */

  /* Step -2: 10.1301px → 11.0033px */
  --step--2: clamp(0.6331rem, 0.6108rem + 0.0992vw, 0.6877rem);
  /* Step -1: 13.5034px → 15.5587px */
  --step--1: clamp(0.844rem, 0.7914rem + 0.2336vw, 0.9724rem);
  /* Step 0: 18px → 22px */
  --step-0: clamp(1.125rem, 1.0227rem + 0.4545vw, 1.375rem);
  /* Step 1: 23.994px → 31.108px */
  --step-1: clamp(1.4996rem, 1.3177rem + 0.8084vw, 1.9443rem);
  /* Step 2: 31.984px → 43.9867px */
  --step-2: clamp(1.999rem, 1.6921rem + 1.3639vw, 2.7492rem);
  /* Step 3: 42.6347px → 62.1972px */
  --step-3: clamp(2.6647rem, 2.1645rem + 2.223vw, 3.8873rem);
  /* Step 4: 56.832px → 87.9469px */
  --step-4: clamp(3.552rem, 2.7565rem + 3.5358vw, 5.4967rem);
  /* Step 5: 75.7571px → 124.3569px */
  --step-5: clamp(4.7348rem, 3.4922rem + 5.5227vw, 7.7723rem);
}
