.project {
  .text-content-shadow-wrapper {
    &.overflowing {
      transform-style: preserve-3d;

      &:after,
      &:before {
        --shadow-offset: 8px;
        position: absolute;
        display: block;
        z-index: 1;
        content: "";
        left: calc(-1 * var(--shadow-offset));
        width: calc(100% + 2 * var(--shadow-offset));
        height: 6px;
        filter: blur(2px);
        background-size: 100% 100%;
        background-repeat: no-repeat;
        mask-composite: intersect;
        -webkit-mask-composite: source-in; /* Required for Safari */
        transition: transform 0.2s ease-out;
        pointer-events: none;
      }

      &:after {
        bottom: 0;
        background: radial-gradient(
          ellipse at 50% 150%,
          rgba(0, 0, 0, 0.9),
          rgba(0, 0, 0, 0.7) 4%,
          rgba(0, 0, 0, 0.4) 20%,
          rgba(0, 0, 0, 0) 80%,
          transparent
        );
        background-position: bottom;
        clip-path: rect(auto auto auto auto);
        transform: scaleY(calc(100% - 100% * var(--css-progress)));
        transform-origin: bottom;
      }

      &:before {
        top: 0;
        background: radial-gradient(
          ellipse at 50% -50%,
          rgba(0, 0, 0, 0.7),
          rgba(0, 0, 0, 0.5) 4%,
          rgba(0, 0, 0, 0.4) 10%,
          rgba(0, 0, 0, 0) 80%,
          transparent
        );
        background-position: top;
        clip-path: rect(auto auto auto auto);
        transform: scaley(calc(100% * var(--css-progress)));
        transform-origin: top;
      }
    }
  }
}
