/*@reference "../index.css";*/

.project {
  .text-content {
    ul {
      @apply list-inside list-disc;
      li {
        list-style-type: "•  ";
        > * {
          display: inline;
        }
      }
      ::marker {
        font-weight: 300;
      }
    }
  }

  .text-content-shadow-wrapper {
    &.overflowing {
      transform-style: preserve-3d;

      &:after,
      &:before {
        /*border: 1px solid red;*/
        --shadow-offset: 5px;
        position: absolute;
        display: block;
        z-index: 1;
        content: "";
        left: calc(-1 * var(--shadow-offset));
        width: calc(100% + 2 * var(--shadow-offset));
        height: 30px;
        /*filter: blur(2px);*/
        background-size: 100% 100%;
        background-repeat: no-repeat;
        mask-composite: intersect;
        -webkit-mask-composite: source-in; /* Required for Safari */
        transition: transform 0.2s ease-out;
        pointer-events: none;
      }

      &:after {
        bottom: 0;
        background: linear-gradient(
          to top,
          rgba(255, 255, 255, 1) 0%,
          rgba(255, 255, 255, 1) 25%,
          rgba(255, 255, 255, 0.8) 66%,
          rgba(255, 255, 255, 0) 100%
        );
        background-position: bottom;
        clip-path: rect(auto auto auto auto);
        transform: scaleY(calc(100% - 100% * var(--css-progress)));
        transform-origin: bottom;
      }

      &:before {
        top: 0;
        background: linear-gradient(
          to bottom,
          rgba(255, 255, 255, 1) 0%,
          rgba(255, 255, 255, 1) 25%,
          rgba(255, 255, 255, 0.8) 66%,
          rgba(255, 255, 255, 0) 100%
        );
        background-position: top;
        clip-path: rect(auto auto auto auto);
        transform: scaleY(calc(100% * var(--css-progress)));
        transform-origin: top;
      }
    }
  }
}

.editorial {
  h1 {
    @apply text-2xl font-extrabold;
  }
  h2 {
    @apply text-xl font-bold;
  }
  h3 {
    @apply text-lg font-medium;
  }
  h4 {
    @apply text-md font-medium;
  }
  h5 {
    @apply text-normal font-medium;
  }

  .block-type-heading {
    text-align: center;
  }

  * + .block-type-heading {
    @apply mt-10 mb-6;
    /*margin-top: 30px;*/
  }
}
