@font-face {
  font-family: "Codec Pro";
  src:
    url("/assets/fonts/Codec-Pro-Variable-Regular.subset.woff2") format("woff2")
      tech("variations"),
    url("/assets/fonts/Codec-Pro-Variable-Regular.subset.woff2")
      format("woff2-variations"),
    url("/assets/fonts/Codec-Pro-Variable-Regular.subset.woff2") format("woff2"),
    url("/assets/fonts/Codec-Pro-Variable-Regular.subset.woff") format("woff")
      tech("variations"),
    url("/assets/fonts/Codec-Pro-Variable-Regular.subset.woff")
      format("woff-variations"),
    url("/assets/fonts/Codec-Pro-Variable-Regular.subset.woff") format("woff"),
    url("/assets/fonts/Codec-Pro-Variable-Regular.subset.ttf")
      format("truetype") tech("variations"),
    url("/assets/fonts/Codec-Pro-Variable-Regular.subset.ttf")
      format("truetype-variations"),
    url("/assets/fonts/Codec-Pro-Variable-Regular.subset.ttf")
      format("truetype");
  font-weight: 100 900;
  /*font-feature-settings: "frac" on;*/
  font-display: swap;
  font-feature-settings: "kern";
}
@font-face {
  font-family: "Codec Pro";
  src:
    url("/assets/fonts/Codec-Pro-Variable-Italic.subset.woff2") format("woff2")
      tech("variations"),
    url("/assets/fonts/Codec-Pro-Variable-Italic.subset.woff2")
      format("woff2-variations"),
    url("/assets/fonts/Codec-Pro-Variable-Italic.subset.woff2") format("woff2"),
    url("/assets/fonts/Codec-Pro-Variable-Italic.subset.woff") format("woff")
      tech("variations"),
    url("/assets/fonts/Codec-Pro-Variable-Italic.subset.woff")
      format("woff-variations"),
    url("/assets/fonts/Codec-Pro-Variable-Italic.subset.woff") format("woff"),
    url("/assets/fonts/Codec-Pro-Variable-Italic.subset.ttf") format("truetype")
      tech("variations"),
    url("/assets/fonts/Codec-Pro-Variable-Italic.subset.ttf")
      format("truetype-variations"),
    url("/assets/fonts/Codec-Pro-Variable-Italic.subset.ttf") format("truetype");
  font-weight: 100 900;
  font-style: italic;
  /*font-feature-settings: "frac" on;*/
  font-display: swap;
  font-feature-settings: "kern";
}
